h1, h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif;
}

.section h1 {
  font-size: 5em;
}

p {
  font-family: 'Inter', sans-serif;
  color: rgb(196, 196, 196);
}

.section p {
  font-size: 1.5em;
}



/**************************** APP WINDOW *******************************/

.App-body {
  /* background-color: #151415; */
  background-color: #212121;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: calc(10px + 2vmin);
  color: white;
}

.file {
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  font-size: 15px;
}

.folder {
  display: inline-block;
  font-size: 20px;
  transition: transform 0.5s;
}

.folder:hover {
  transform: translateX(-20px);
  transform: translateY(-20px);
  cursor: pointer;
}

.folder-window {
  position: absolute;
  top: 10%;
  left: 10%;
  background-color: rgba(226, 226, 226, 0.575);
  border-radius: 5px;
  width: 30%;
  font-size: 20px;
}

.folder-handle {
  background-color: rgba(226, 226, 226, 0.322);
  border-radius: 5px 5px 0px 0px;
}


.window-menu {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  font-size: 15px;
}

.footer {
  display: flex;
  width: 100%;
  background-color: #0A0A0A;
}



/**************************** SECTIONS *******************************/

.section {
  display: block;
  overflow: auto;
  align-items: center;
  flex-wrap: wrap;
}

.about-me {
  background-color: #0A0A0A;
  color: rgb(196, 196, 196);
  font-size: 0.8em;
  padding: 100px 0px;
}

.dp {
  width: 300px;
  border-radius: 5px;
}

.learning-card {
  background-color: rgb(41, 41, 41);
  width: 300px;
  height: 300px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.learning-card:hover {
  cursor: pointer;
  background-color: rgb(31, 31, 31);
}

@keyframes learning-card-hover {
  0% {
    background-color: rgb(41, 41, 41);
  }

  100% {
    background-color: rgb(31, 31, 31);
  }
}

.comfort-ai {
  background-color: #0A0A0A;
  color: rgb(196, 196, 196);
  font-size: 0.8em;
  padding: 100px 0px;
  background-image: linear-gradient(125deg, #120C1D, #170F25, #160F24, #281A41);
  background-size: 200%, 200%;
  animation: comfort-ai-bg 20s ease infinite;
}

@keyframes comfort-ai-bg {
  0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.section:hover {
  cursor: default;
}


/**************************** UTILITIES *******************************/

.vert-center {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.horiz-center {
  width: 50%;
  margin: 0 auto;
}

.row-padding {
  padding-top: 25px;
}