h1, h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif;
}

p {
  font-family: 'Inter', sans-serif;
  color: rgb(196, 196, 196);
}

.App-body {
  /* background-color: #151415; */
  background-color: #212121;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: calc(10px + 2vmin);
  color: white;
}

.file {
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  font-size: 15px;
}

.folder {
  display: inline-block;
  font-size: 20px;
  transition: transform 0.5s;
}

.folder:hover {
  transform: translateX(-20px);
  transform: translateY(-20px);
  cursor: pointer;
}

.folder-window {
  position: absolute;
  top: 10%;
  left: 10%;
  background-color: rgba(226, 226, 226, 0.575);
  border-radius: 5px;
  width: 30%;
  font-size: 20px;
}

.about-me {
  background-color: #1F1E1F;
  color: rgb(196, 196, 196);
  height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.8em;
}

.dp {
  width: 250px;
  border-radius: 5px;
}

.window-menu {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  font-size: 15px;
}



.footer {
  display: flex;
  width: 100%;
  background-color: #0A0A0A;
}

